extends layout

block layout-content
  div.indexDiv
    div.View.WelcomeView
      div.View
        h1.Banner TITLE
        div.Message
          div.Title
          h3 Making the Best
          //- form(action="/user" method="post")
          //-   label(for="first_name") Name:
          //-   input(type="text" name="first_name" placeholder="first Name..") 
          //-   input(type="text" name="last_name" placeholder="last Name..") 
          //-   input(type="text" name="age" placeholder="your age..") 
          //-   button(type="submit") click
          form(action="/barcelona" method="post")
            label(for="first_name") Name:
            input(type="text" name="first_name" placeholder="first Name..") 
            input(type="text" name="last_name" placeholder="last Name..") 
            input(type="text" name="age" placeholder="your age..") 
            button(type="submit") click

